#button-hidden{
  display: none;
}

.span-slider{
  position:absolute;
  top:0;
  left:0;
  transform:translateY(30px);
  font-size:0.825em;
  transition-duration:300ms;
}

#slide {
  left: -200px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.2s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

/* Form anim */

form{
  width:90vw;
  max-width:768px;
  border:1px solid #ddd;
  padding:3vw;
  display:flex;
  flex-direction:column;
  border-radius:5px;
}

label{
  margin-bottom:15px;
  position:relative;
  border-bottom:1px solid #ddd;
}
input{
  width:100%;
  padding:10px 0px;
  margin-top:20px;
  border:none;
  outline:none;
}
input::placeholder{
  opacity:0;
}


label:focus-within > span,
input:not(:placeholder-shown) + span{
  color:#76A900;
  transform:translateY(0px);
}


/* Textarea */
textarea:focus~.floating-label,
textarea:not(:placeholder-shown)~.floating-label,
input:not(:focus):valid~.floating-label {
  top: -30px;
  bottom: 10px;
  left: 2px;
  opacity: 1;
  color:#76A900;
}

.scheme-des textarea {
  width: 100%;
  resize: none;
  padding: 10px 20px 0 20px;
  border:1px solid #ddd;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 3px;
  top: 10px;
  transition: 0.7s ease all;
}

.form-float {
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}

.font-logo {
  font-family: 'Libre Bodoni', serif;
}
.estyle::first-letter {
  font-family: 'Libre Bodoni', serif;
  font-size: 1.5em;
  
  
}
.Stethoscope{
  transform: rotate(86deg);
  position: absolute;
 top: 23px;
 left: -7px;
}

.contact-bg {
      /* ff 3.6+ */
      background:-moz-linear-gradient(90deg, rgba(0, 188, 212, 1) 50%, rgba(118, 169, 0, 1) 100%); 

      /* safari 5.1+,chrome 10+ */
      background:-webkit-linear-gradient(90deg, rgba(0, 188, 212, 1) 50%, rgba(118, 169, 0, 1) 100%);
  
      /* opera 11.10+ */
      background:-o-linear-gradient(90deg, rgba(0, 188, 212, 1) 50%, rgba(118, 169, 0, 1) 100%);
  
      /* ie 6-9 */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76A900', endColorstr='#00BCD4', GradientType=0 );
  
      /* ie 10+ */
      background:-ms-linear-gradient(90deg, rgba(0, 188, 212, 1) 50%, rgba(118, 169, 0, 1) 100%);
  
      /* global 94%+ browsers support */
      background:linear-gradient(90deg, rgba(0, 188, 212, 1) 50%, rgba(118, 169, 0, 1) 100%);
    
}
button:disabled
{
  background-color: #c6ccb6;
  color: #fff;
  border: 1px solid #76A900;
  cursor: not-allowed;
}

.desktop-bg {

  /* ff 3.6+ */
  background:-moz-linear-gradient(90deg, rgba(118, 169, 0, 1) 28%, rgba(0, 99, 148, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(90deg, rgba(118, 169, 0, 1) 28%, rgba(0, 99, 148, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(90deg, rgba(118, 169, 0, 1) 28%, rgba(0, 99, 148, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006394', endColorstr='#76A900', GradientType=0 );

  /* ie 10+ */
  background:-ms-linear-gradient(90deg, rgba(118, 169, 0, 1) 28%, rgba(0, 99, 148, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(90deg, rgba(118, 169, 0, 1) 28%, rgba(0, 99, 148, 1) 100%);

}
 
/* ERROR altert */
@keyframes slide-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right-back {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.animation-slide-right {
  animation: slide-right 0.3s ease-out;
}

.animation-slide-right-back {
  animation: slide-right-back 0.3s ease-out;
}

button {
  transition: all 0.2s ease-in-out;
}

button:active {
  transform: scale(0.99);
}

button:hover{
  /* box shadow effect with bouse */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);

}



/* our partners scroll  */
.filter-gray-scale {
  filter: grayscale(100%);
}
.filter-hover-gray-scale:hover {
  filter: grayscale(0%);
}

.bgfix{
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

